@import "../../styles/mixins.scss";

.search-jobs-main-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  .search-jobs-fields {
    display: grid;
    grid-template-columns: 2fr repeat(5, 1fr);
    grid-template-rows: 4.8rem;
    gap: 1.6rem;
  }

  .jobs-wrapper {
    padding: 2.4rem;
    border-radius: 1.2rem;
    box-shadow: 0 0.2rem 0.4rem 0 #a5a3ae4d;
    background-color: #fff;

    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.7rem;

    .jobs-list-container {
      @include hide-scrollbar();

      display: flex;
      flex-direction: column;
      gap: 1.8rem;

      overflow-y: auto;
      height: calc(100vh - 30rem);
      padding-bottom: 0.1rem;
    }

    .listed-job-details-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .current-template-main-wrapper {
      @include hide-scrollbar();

      border: 0.1rem solid #aeacb4;
      border-radius: 1.6rem;
      overflow-y: auto;
      height: calc(100vh - 30rem);

      .current-job-header-container {
        padding: 1.6rem;
        border-bottom: 0.1rem solid #eff3f4;

        position: relative;

        .close-job-details-button {
          position: absolute;

          top: 1.2rem;
          right: 1.2rem;
        }

        .current-job-header {
          display: flex;
          align-items: center;
          gap: 0.8rem;

          .company-logo {
            height: 5.6rem;
            width: 5.5rem;

            > img {
              width: 100%;
              height: 100%;
            }
          }

          .name {
            color: #2f2c39;
          }
        }

        .current-job-company-link {
          display: flex;
          border-bottom: 0.1rem solid #2f2c39;
          width: max-content;
          margin-top: 1rem;

          .name {
            color: #2f2c39;
            font-size: 1.6rem;
            margin-right: 0.5rem;
          }
        }

        .current-job-location {
          color: #2f2c39;
          font-size: 1.6rem;
          margin-top: 0.5rem;
        }

        .current-job-salary-range {
          color: #2f2c39;
          font-size: 1.6rem;
          margin-top: 0.5rem;
          font-weight: 600;
        }

        .current-job-actions {
          margin-top: 0.5rem;
          display: flex;
          align-items: center;
          gap: 0.8rem;

          .apply-now-button {
            height: 3.6rem;
          }

          .bookmark-job-button {
            height: 4rem;
            width: 4rem;
            background-color: #eff3f4;
            border-radius: 1rem;

            &.saved-job {
              background-color: #52595c;

              .ant-btn-icon {
                > svg {
                  > path {
                    fill: white;
                  }
                }
              }
            }
          }
        }

        .current-job-applied {
          margin-top: 0.5rem;

          display: flex;
          align-items: center;

          .applied-time {
            margin-left: 0.5rem;
            font-size: 1.6rem;
            color: #1bbb62;
          }
        }
      }

      .section-heading {
        color: #2f2c39;
        margin-bottom: 1.2rem;
      }

      .current-job-details-container,
      .current-job-location-container {
        padding: 1.6rem 1.6rem 1.2rem;
        border-bottom: 0.1rem solid #eff3f4;

        .details-fields-container {
          display: flex;
          gap: 1.2rem;
          flex-direction: column;
        }

        .detail-field-wrapper {
          .detail-label-wrapper {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            margin-left: 1rem;
            margin-bottom: 0.8rem;

            .detail-label {
              font-size: 1.5rem;
              color: #2f2c39;
            }
          }

          .detail-tags-container {
            display: flex;
            gap: 0.8rem;
          }
        }
      }
    }
  }
}


.empty-state-card {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 400px;

  h2 {
    font-size: 1.5rem;
    color: #333;
  }

  p {
    color: #777;
  }

  img {
    width: 100px; // Adjust size as needed
    margin-top: 10px;
  }

  .empty-state-icons {
    display: flex;
    justify-content: center;
    margin-top: 15px;

    .icon-wrapper {
      display: flex;
      align-items: center;
      margin: 0 10px;

      p {
        margin-left: 5px; // Adjust spacing between icon and text
        color: #333;
      }

      svg {
        width: 24px; // Adjust size as needed
        height: 24px; // Adjust size as needed
        color: #666; // Change icon color
      }
    }
  }
}
