.employment-and-experience-wrapper {
  padding: 1.6rem 0;
  border-bottom: 1px solid #b5b5b5;
  width: 100%;

  .experience-wrapper {
    margin-top: 1rem;
    margin-bottom: 1.6rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;

    .experience-list-container {
      display: flex; // No need for !important unless debugging
      width: 100%;
      padding: 1.2rem 0rem;
      flex: 1; // Allow it to grow

      @media (min-width: 768px) {
        padding: 1.2rem 1.6rem;
      }

      .experience-icon {
        width: 3.6rem;
      }

      .experience-details-wrapper {
        margin-left: 1.2rem;
        flex: 1; // Allow this to grow

        .experience-designation {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;
          width: 100%;

          .position-name {
            font-size: 1.6rem;
            font-weight: 500;
            color: #111112;
          }
        }

        .company-detail {
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;

          .company-name,
          .company-duration {
            font-size: 1.4rem;
            color: #2f2c39;
          }

          .company-duration {
            font-size: 1.3rem;
            color: #475569;
          }
        }

        .experience-detail {
          padding-left: 2rem;

          .tasks-performed {
            font-size: 1.3rem;
            color: #475569;
            margin-bottom: 0.5rem;
            max-width: 1400px; // Restrict max-width

            @media (max-width: 768px) { // Optional: Adjust for smaller screens
              width: 95%;  // Allow it to fill more on small screens
              max-width: none; // Remove max-width for small screens
            }

            &:last-child {
              margin-bottom: 0rem;
            }
          }
        }
      }
    }
  }
}
