.permium-tag {
    background: linear-gradient(white, white) padding-box,
    linear-gradient(287.99deg, #001f3f -20.42%, #009dd1 62.87%) border-box;
  border-radius: 4px;
  border: 0.1rem solid transparent;
  padding: 1px 3px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 12px;
  margin-bottom: 10px;

}

.content-wrapper{
    background: -webkit-linear-gradient(
        287.99deg,
        #001f3f -20.42%,
        #009dd1 62.87%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.mentor-card-wrapper {
  display: flex;
  gap: 1.6rem;
  padding: 1.6rem;

  border-radius: 1.6rem;
  border: 0.1rem solid #dddce2;

  .mentor-icon-container {
    height: 27.2rem;
    width: 18.4rem;

    .mentor-icon {
      width: 100%;
      height: 100%;
    }
  }

  .mentor-details-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .mentor-name {
    }

    .mentor-card-tags-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .mentor-detail-button {
      margin-top: 1rem;
      // max-width: 22rem;

      .mentor-details-button {
        width: 100%;
      }
    }
  }
}


.main-layout-container {
  .page-main-heading {
    margin: 1.6rem 0;
    color: #52595c;
    font-weight: 400;

    .highlighted {
      color: #2f2c39;
      font-weight: 500;
    }
  }

  .mentor-details-page-wrapper {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    grid-column-gap: 3.2rem;

    .mentor-detail-container {
      padding: 2.4rem;
      border-radius: 1.2rem;
      background: #fff;
      box-shadow: 0 0.2rem 0.4rem 0 rgba(165, 163, 174, 0.3);

      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      .mentor-card-container {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        .mentor-card-image-wrapper {
          width: 25rem;
          height: 24.8rem;

          .mentor-card-image {
            width: 100%;
            height: 100%;
          }
        }

        .mentor-card-details-container {
          display: flex;
          flex-direction: column;
          gap: 1.6rem;

          .mentor-card-details {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .mentor-name {
              color: #333;
            }
          }

          .mentor-expertise {
            color: #333;
            font-weight: 500;
          }

          .mentor-verified {
            padding: 0.6rem 1.1rem;
            border-radius: 1.2rem;
            background: #25b16e;
            display: flex;
            align-items: center;
            max-width: fit-content;
            color: #fff;
            font-size: 1.6rem;
            font-weight: 600;

            > svg {
              margin-right: 1rem;
            }
          }
        }
      }

      .I-can-do-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .i-can-do-item {
          line-height: 2rem;

          > svg {
            vertical-align: bottom;
          }
        }
      }

      .about-mentor-container {
        .section-heading {
          color: #333;
          margin-bottom: 0.5rem;
          font-weight: 600;
        }

        .section-content {
          color: #2f2c39;
        }

        .review-cards-layout {
          display: flex;
          gap: 2.4rem;
        }
      }

      .certifications-wrapper {
        padding: 0;
      }
    }

    .mentor-actions-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .mentor-video-container {
        padding: 2.4rem;
        border-radius: 1.2rem;
        background: #fff;
        box-shadow: 0 0.2rem 0.4rem 0 rgba(165, 163, 174, 0.3);

        display: flex;
        flex-direction: column;
        gap: 1.6rem;
      }

      .mentor-get-started-container {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        padding: 2.4rem;
        border-radius: 1.2rem;
        background: #fff;
        box-shadow: 0 0.2rem 0.4rem 0 rgba(165, 163, 174, 0.3);

        .mentor-services-wrapper {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .mentor-services {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-weight: 500;
          }
        }

        .ant-btn.custom-edit-profile-button {
          border-radius: 0.8rem;
          border: 0.13rem solid #aeacb4;
          padding-inline-start: 0;
          margin-inline-start: 1.2rem;
          padding: 0 1.2rem;
          height: 2.9rem;
          width: max-content;

          .edit-profile-button-title {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            color: #52595c;
            font-size: 1.4rem;
          }
        }

        .info-content {
          line-height: 2rem;

          > svg {
            vertical-align: bottom;
          }
        }
      }
    }
  }

  .mentor-detail-divider {
    border-top: 0.1rem solid #b5b5b5;
  }
}