@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.guest__nav {
  min-height: 96px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 14px 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.guest__nav img {
  width: 177px;
  height: 65px;
}

.guest__nav .menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.guest__nav .menu li {
  list-style: none;
}

.guest__nav .menu li a {
  color: #221810;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", serif !important;
  font-size: 20px;
}

.guest__nav .buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.guest__nav .menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.guest__nav .menu.active {
  display: block;
}

.guest__nav .primary__btn {
  width: 100%;
  background: linear-gradient(287.99deg, #001f3f -20.42%, #009dd1 62.87%);
  padding: 15px 32px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  min-width: 115px;
  font-weight: 600;
  font-size: 15px !important;
  border: 0;
}

.guest__nav .secondary__btn {
  width: 100%;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(287.99deg, #001f3f -20.42%, #009dd1 62.87%) border-box;
  border-radius: 0.8rem;
  border: 0.3rem solid transparent;
  padding: 12px 32px;
  font-size: 15px !important;
  font-weight: 600;
}

.guest__nav .secondary__btn > span {
  background: -webkit-linear-gradient(
    287.99deg,
    #001f3f -20.42%,
    #009dd1 62.87%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1200px) {
  .guest__nav .menu li a {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .guest__nav .menu li a {
    font-size: 14px;
  }
}

@media (max-width: 968px) {
  .guest__nav {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .guest__nav .menu {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 96px;
    right: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
  }

  .guest__nav .menu li {
    margin-bottom: 15px;
  }

  .guest__nav .menu li a {
    font-size: 14px;
  }

  .guest__nav .menu-icon {
    display: block;
  }

  .guest__nav .buttons {
    display: none; /* Optional: Hide buttons on mobile */
  }
}
