@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

.guest__nav {
  min-height: 96px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 14px 40px;
  background: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.guest__nav img {
  width: 177px;
  height: 65px;
}
.guest__nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.guest__nav li {
  list-style: none;
}
.guest__nav ul > li > a {
  color: #221810;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", serif !important;
  font-size: 20px;
}
.guest__nav .primary__btn {
  width: 100%;
  background: linear-gradient(287.99deg, #001f3f -20.42%, #009dd1 62.87%);
  padding: 15px 32px;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  min-width: 115px;
  font-weight: 600;
  font-size: 15px !important;
  border: 0;
}

.guest__nav .secondary__btn {
  width: 100%;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(287.99deg, #001f3f -20.42%, #009dd1 62.87%) border-box;
  border-radius: 0.8rem;
  border: 0.3rem solid transparent;
  padding: 12px 32px;
  font-size: 15px !important;
  font-weight: 600;
}

.guest__nav .secondary__btn > span {
  background: -webkit-linear-gradient(
    287.99deg,
    #001f3f -20.42%,
    #009dd1 62.87%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background: linear-gradient(107.67deg, #2f484f 5.57%, #0a1417 106.67%);
}

.container {
  display: flex;
  padding: 77px 96px;
  justify-content: space-between;
  gap: 40px;
}

.footer-content {
  flex: 1 1 400px;
  max-width: 600px;
}
.footer-content p {
  font-size: 20px;
  font-weight: 400;
  max-width: 400px;
  line-height: 25.2px;
  text-align: left;
  color: #ffffff;
}
.logo img {
  width: 150px; /* Adjust logo size as needed */
  margin-bottom: 15px;
}

.footer-links,
.footer-about,
.footer-social {
  flex: 1;
  margin-left: 40px;
}

.footer-links h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 32.76px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 16px;
}

.footer-about h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 32.76px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 16px;
}
.footer-social h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 32.76px;
  text-align: left;
  color: #ffffff;
}
.footer-social h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: left;
  color: #ffffff;
  margin-top: 16px;
}
.footer-social ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 32px;
  align-items: center;
  margin-top: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

.footer-about li,
.footer-links li {
  padding-bottom: 10px;
}

a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.68px;
  text-align: left;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  background: #ffffff14;
  max-width: 1727px;
  width: 100%;
  margin-inline: auto;
  border-radius: 24px;
  display: flex;
  padding: 24px;
  gap: 32px;
  justify-content: center;
  align-items: center;
}
.footer-bottom p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.68px;
  color: #ffffff;
}
.footer-bottom button {
  background-color: #1c1c1c;
  font-size: 24px;
  font-weight: 600;
  line-height: 30.24px;
  text-align: center;
  color: #fff;
  border: none;
  padding: 16px 32px;
  border-radius: 10.67px;
  cursor: pointer;
}
.footer_last {
  padding-block: 40px 80px;
  text-align: center;
  max-width: 1727px;
  width: 100%;
  margin-inline: auto;
}
.footer_last hr {
  border-color: #aeacb4;
}
.footer_last p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.68px;
  color: #ffffff;
}

/* Responsive Styles (Optional) */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .footer-links,
  .footer-about,
  .footer-social {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
