@import "./base", "./mixins", "./colors", "./breakpoints.scss";

.common-card {
  padding: 2.4rem;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(165, 163, 174, 0.3);
}

.slash {
  color: #4b465c;
  font-weight: 600;
  font-size: 2rem;
}

.main-layout-container {
  @include hide-scrollbar();

  // justify-self: center;
  width: 100%;
  // max-width: 130.5rem;
  overflow-y: auto;

  // @media (min-width: 1360px) {
  //   max-width: 60%;
  // }

  .layout-main-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
  }

  .profile-main-wrapper {
    background-color: #fff;
    border-radius: 1rem;
    padding: 2.5rem 1.6rem;

    @media (min-width: 768px) {
      padding: 2.5rem;
    }
  }
}

.common-booking-container-styles {
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(165, 163, 174, 0.3);
  padding: 2.4rem;
}

.no-booking-empty-wrapper {
  @extend .common-booking-container-styles;

  display: flex;
  align-items: center;
  justify-content: center;

  .no-bookings-picture {
    margin: 7rem 0;
    width: 50%;

    > img {
      width: 100%;
    }
  }
}

.booking-listing-wrapper {
  @extend .common-booking-container-styles;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 1.6rem;

  .ant-pagination.custom-pagination {
    grid-column: 1/4;
  }
}

.form-divider {
  border-top: 0.1rem solid #dddce2;
}
