@import "./styles/commons";

.app-wrapper {
  min-height: 100vh;
  background: linear-gradient(150.25deg, #eaebec -12.71%, #88b3c1 131.5%);

  .fuse-main-wrapper {
    min-height: 100vh;

    .fuse-main-body {
      margin-top: 1.3rem;
      height: calc(100vh - 12.5rem);

      display: grid;
      column-gap: 2.5rem;
      grid-template-columns: 1fr;

      padding: 1.2rem 1.6rem;

      @media (min-width: 768px) {
        grid-template-columns: 23rem 1fr;
        padding: 1.2rem 2.4rem;
      }

      @media (min-width: 1024px) {
        grid-template-columns: 27rem 1fr;
        padding: 1.2rem 2.4rem;
      }
    }
  }
}
