@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
body {
  font-size: 14px;
}
.mentor-video-container {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  background-color: #fefefe;
  max-width: 600px; /* Limit width for better readability */
  padding: 20px; /* Add padding for better layout */
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #1a1a1a;
}

.description {
  color: #7d7d7d;
  margin-bottom: 10px;
  font-size: 15px;
}

.upload-container {
  width: 100%;
  height: 300px;
  border: 2px dashed #40a9ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
  text-align: center;
}

.video-container {
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
}

.video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-icon {
  font-size: 50px;
  color: #40a9ff;
}

.upload-text {
  margin-top: 8px;
  font-size: 18px;
  color: #7d7d7d;
}

.more-options {
  cursor: pointer;
  margin-left: 10px;
  color: #40a9ff;
  font-size: 20px;
}

.more-icon {
  font-size: 26px;
}

.upload-button {
  margin-top: 10px; /* Add some space above the button */
}

.w-100 {
  width: 100% !important;
}
.verified-profile {
  width: 116px;
  height: 36px;
  padding: 6px 11px 6px 11px;
  gap: 8px;
  border-radius: 12px;
  opacity: 0px;
  background: #25b16e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.verified-profile:hover {
  color: whitesmoke;
}

.fw-400 {
  font-weight: 400 !important;
}
.color-neutral {
  color: #52595c !important;
}
.admin-menu {
  padding: 10px;
}
.admin-menu .ant-menu-title-content {
  font-size: 16px !important;
}

.admin-menu .ant-menu-item-selected {
  background: linear-gradient(
    287.99deg,
    #001f3f -20.42%,
    #009dd1 62.87%
  ) !important;
  color: white !important;
}

.admin-menu .ant-menu-item-active:hover {
  color: white !important;
}
.admin-menu .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: white !important;
}

.admin-sidebar {
  border-radius: 4px 12px 12px 4px;
}
